
* {
    background-image: url(media/cam2.png);
}
.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


@media (max-width: 1000px) {
    body {
        font-size: 30px;
    }
}

body {
    background-image: url(media/cam2.png);
    background-size: cover;
}

video {
    width: 26 vw;
}

:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


.carousel {
    margin-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
  }

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-caption .text-start p {
    opacity: 175;
}
  

.carousel-item {
    height: 32rem;
    width: 100%;
}
  
.enr {
    color: rgb(231, 83, 83);
    font-family: 'Vina Sans', sans-serif;
    font-size: 20vh;
    text-align: center;
    margin-top: 20vh;
}

footer {
    padding: 4.219vh;
    text-align: center;
    background-color: #333;
    color: white;
    text-decoration: none;
}
  
